body{
    font-family: 'Poppins', sans-serif;
    background-color: #FFFFFF; 
}
.top-area {
    background-color: #F0FFF0;
}
.menu-area img{
    width: 160px;
}
.menu-area{
    background-color: #F0FFF0;
}
img {
    vertical-align: middle;
    border-style: none;
}
.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.menu-content ul li {
    padding-left: 30px;
}
a.signup_btn, .signup_btn-2, .signup_btn-3 {
    background-color: #2FA470;
    border-radius: 30px;
    padding: 8px 15px;
    text-decoration: none;
    color: #ffffff;
    border: none;
    outline: none;
    font-size: 16px;
    transition: all .6s ease-in-out;
}
.frist-title{
    font-size: 16px;
    line-height: 24px;
    color: #FD511A;
}
span{
    color: #21B573;
}
.top-img img{
    width: 100%;
}
.col-md-3 img {
    width: 80px;
    height: 83px;

}
.col-md-3 h5{
    padding-top: 20px;
}
.row{
    display: flex;
    margin-right: -15px;
    margin-left: -15px;
    margin: 50px 50px;
}
.div-box{
    margin: 25px 0;
    background: #F8FFFB;
    border-radius: 10px;
    padding: 10px;
    border: none;
    outline: none;
    transition: all .3s ease-in-out;
}
.div-box:hover{
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.3);
    transform: translateY(-20px);
} 
.course-title {
    padding-bottom: 40px;
}
.text-center {
    text-align: center!important;
}
.card-icon span {
    padding: 15px 0 10px 0;
    font-size: 16px;
    color: gray;
    width: auto;
}
.course-box{
    box-shadow: 5px 5px 20px gray;
    border-radius: 10px;
    padding: 4px;
}


.section-padding-2 {
    padding: 40px 0px;
}
.testimonial-title {
    padding-bottom: 40px;
    color: black;
}

.text-center {
    text-align: center!important;
}
.blog-img img {
    width: 110px;
    height: 110px;
    margin-bottom: 15px;
}
.blog-text p{
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: -4px;
    font-size: 15px;
    line-height: 30px;
}
footer{
    background-color: #282531;
    color: #ffffff;
}
.footer-content{
    margin: 30px 0;
    text-decoration: none;
}
.footer-content ul li {
    list-style: none;
    font-size: 16px;
    line-height: 30px;
}
#footer-copyright{
    color: cadetblue;
}
.offset-1 {
    margin-left: 8%;
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}